body {
  background-color: #F2F4F8;
}


.content {
  display: flex;
  flex-direction: column;
  padding: 5px;

  position: fixed;
  left: 20%;
  top: 1%;
  width: 1500px;
  overflow-x: auto;
  max-width: 100%;

}

.title {
  font-size: 3rem;
  margin-bottom: 0;
  display: flex;
  justify-content: left;
  align-items: start;
  text-align: left;
}