body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.h1 {
    margin-bottom: 1px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex: 1;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */

    text-decoration-line: underline;

}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.loginBTN {

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 384px;
    height: 48px;


    /* Secondary 5 (workd)/Main */

    background: #0049FC;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.textBox {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 8px 11px;


    width: 384px;
    height: 50px;

    /* Light/Background/Transparent */

    /* Light/Others/Outline Border Line */



    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}