.containerPrincipalPagamaneto {

    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    width: 1100px;
    min-height: 700px;
    max-height: fit-content;

    background: #F9F9F9;
    border: 1px solid #000000;
}